.table {
    width: 98%;
    // border: 0.5px solid gary;
    border-spacing: 0;
    margin: 10px 1%;
}

.table-dark th {
    background-color: #929292;
    text-align: left;
    color: #fff;
    stroke: #fff;
}

td {
    height: 30px;
    padding-left: 5px;
    text-align: left;
    font-size: 15px;
}

td {
    font-size: 11px;
    line-height: 12px;
    vertical-align: middle;
}

.border {
    border: 1px solid gray !important;
}

tbody tr:nth-child(even) {
    background-color: #D6EEEE;
}

tbody tr {
    border: 5px solid gray;
}

tbody :last-child {
    border-bottom: none;
}

.d-none {
    display: none;
}

.tableHeader {
    cursor: pointer;
    padding: 10px 5px 10px 5px;
    font-size: 12px;
}

.tableHeader svg {
    width: 12px;
    height: 12px;
}

.tableHeader .filter {
    float: right;
    cursor: pointer;
    visibility: hidden;
}

.tableHeader:hover .filter {
    visibility: visible !important;
}