<div class="acsingleselect" [ngClass]="{ disableselect: disabledField }">
  <div
    class="singleSelect"
    tabindex="0"
    (keydown)="keydonwOnMain($event)"
    (click)="opendropdown()"
    [ngClass]="{
      errorClass: (control?.touched || control?.dirty) && control?.errors
    }"
  >
    <div
      class="selecteditem"
      [ngStyle]="{ height: selectSettings.heightPx + 'px' }"
    >
      <ng-container
        *ngIf=" showSingle
          ? showselectedItem
          : showselectedItem?.[selectSettings.idField] else placeholderTemplate"
      >
        <div
          class="selected_item_name ellipse-text"
          [ngStyle]="{ 'line-height': selectSettings.heightPx + 'px' }"
        >
          {{showSingle?showselectedItem:showselectedItem?.[selectSettings.textField]}}
        </div>
      </ng-container>
      <ng-template #placeholderTemplate>
        <div
          class="placeholder ellipse-text"
          [ngStyle]="{ 'line-height': selectSettings.heightPx + 'px' }"
        >
          {{ selectSettings?.placeholderName }}
        </div>
      </ng-template>
    </div>
    <!-- <input
      type="text"
      tabindex="-1"
      class="selecteditem form-control"
      [(ngModel)]="
        showSingle
          ? showselectedItem
          : showselectedItem[selectSettings.textField]
      "
      [placeholder]="selectSettings.placeholderName"
      [ngStyle]="{ height: selectSettings.heightPx + 'px' }"
    /> -->
    <div class="togglebutton">
      <span class="dropdown-down" [ngClass]="{ d_none: showdropdown }"></span>
      <span class="dropdown-up" [ngClass]="{ d_none: !showdropdown }"></span>
    </div>
  </div>
  <div class="dropdown-list" id="singleSelectDropdownList" *ngIf="showdropdown">
    <ul
      class="search_input"
      *ngIf="selectSettings.searchEnable && optionsList?.length > 0"
    >
      <li>
        <input
          type="text"
          placeholder="Search..."
          (keyup)="searchdata($event)"
        />
      </li>
    </ul>
    <ul
      class="dataList"
      *ngIf="dropdownValues?.length > 0"
      tabindex="0"
      (keydown)="keydownOnDataList($event)"
    >
      <ng-container *ngIf="!showSingle; else unObjectArray">
        <li
          class="data-option"
          *ngFor="let dropdownvalue of dropdownValues"
          [ngClass]="[
            dropdownvalue[selectSettings.idField] ==
            showselectedItem[selectSettings.idField]
              ? 'selected_item'
              : '',
            dropdownvalue?.isDisabled ? 'disabledClass' : ''
          ]"
          (click)="selectData(dropdownvalue)"
        >
          <ng-container
            [ngTemplateOutlet]="
              optionTemplateRef ? optionTemplateRef : defaultOption
            "
            [ngTemplateOutletContext]="{ dropdownvalue: dropdownvalue }"
          >
          </ng-container>
        </li>
      </ng-container>
      <ng-template #unObjectArray>
        <li
          class="data-option"
          *ngFor="let dropdownvalue of dropdownValues"
          [ngClass]="[
            dropdownvalue == showselectedItem ? 'selected_item' : '',
            disableOptionList.includes(dropdownvalue) ? 'disabledClass' : ''
          ]"
          (click)="selectData(dropdownvalue)"
        >
          <ng-container
            [ngTemplateOutlet]="
              optionTemplateRef ? optionTemplateRef : defaultOption
            "
            [ngTemplateOutletContext]="{ dropdownvalue: dropdownvalue }"
          >
          </ng-container>
        </li>
      </ng-template>
      <ng-template #defaultOption let-dropdownvalue="dropdownvalue">
        <div>
          {{
            showSingle ? dropdownvalue : dropdownvalue[selectSettings.textField]
          }}
        </div>
      </ng-template>
    </ul>
    <div *ngIf="dropdownValues?.length == 0">
      {{ selectSettings.noDataAvailableText }}
    </div>
  </div>
</div>
