<div
  class="acsingleselect"
  OutsideClickClose
  [ngClass]="disabledField == true ? 'disableselect' : ''"
  (clickOutSide)="closeDropdown($event)"
>
  <div
    class="singleSelect"
    (click)="opendropdown()"
    [ngClass]="{
      errorClass: (control?.touched || control?.dirty) && control?.errors
    }"
  >
    <input
      type="text"
      class="selecteditem form-control"
      [(ngModel)]="
        showSingle
          ? showselectedItem
          : showselectedItem[selectSettings.textField]
      "
      #singleSelectName="ngModel"
      [placeholder]="selectSettings.placeholderName"
      [ngStyle]="{ height: selectSettings.heightPx + 'px' }"
      readonly
    />
    <div class="togglebutton">
      <span class="dropdown-down" [ngClass]="{ d_none: showdropdown }"></span>
      <span class="dropdown-up" [ngClass]="{ d_none: !showdropdown }"></span>
    </div>
  </div>
  <div class="dropdown-list" id="singleSelectDropdownList" *ngIf="showdropdown">
    <ul
      class="search_input"
      *ngIf="selectSettings.searchEnable && optionsList?.length > 0"
    >
      <li>
        <input
          type="text"
          placeholder="Search..."
          (keyup)="searchdata($event)"
        />
      </li>
    </ul>
    <ul class="dataList" *ngIf="dropdownValues?.length > 0">
      <ng-container *ngIf="!showSingle; else unObjectArray">
        <li
          class="data-option"
          *ngFor="let dropdownvalue of dropdownValues"
          [ngClass]="[
            dropdownvalue[selectSettings.idField] ==
            showselectedItem[selectSettings.idField]
              ? 'bg-primary'
              : '',
            dropdownvalue?.disabled ? 'disabledClass' : ''
          ]"
        >
          <ng-container
            [ngTemplateOutlet]="
              optionTemplateRef ? optionTemplateRef : defaultOption
            "
            [ngTemplateOutletContext]="{ dropdownvalue: dropdownvalue }"
          >
          </ng-container>
        </li>
      </ng-container>
      <ng-template #unObjectArray>
        <li
          class="data-option"
          *ngFor="let dropdownvalue of dropdownValues"
          [ngClass]="[
            dropdownvalue == showselectedItem ? 'bg-primary' : '',
            disableOptionList.includes(dropdownvalue) ? 'disabledClass' : ''
          ]"
        >
          <ng-container
            [ngTemplateOutlet]="
              optionTemplateRef ? optionTemplateRef : defaultOption
            "
            [ngTemplateOutletContext]="{ dropdownvalue: dropdownvalue }"
          >
          </ng-container>
        </li>
      </ng-template>
    </ul>
    <div *ngIf="dropdownValues?.length == 0">
      {{ selectSettings.noDataAvailableText }}
    </div>
  </div>
</div>
<ng-template #defaultOption let-dropdownvalue="dropdownvalue">
  <div (click)="selectData(dropdownvalue)">
    {{ showSingle ? dropdownvalue : dropdownvalue[selectSettings.textField] }}
  </div>
</ng-template>
