.acsingleselect {
    position: relative;
}

.singleSelect {
    width: 100%;
    border: 1px solid #afafaf;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.dropdown-list {
    padding-top: 0;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
    margin-top: 2px;
}

.dropdown-list ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0;
}

// .dropdown-list ul li {

// }

.dropdown-list .dataList {
    max-height: 150px;
    overflow-x: auto;
    overflow-y: auto;
}
.dropdown-list .dataList:focus-visible{
    outline: none;
}
.dropdown-list ul li input[type=text] {
    width: 92%;
    border: none;
}

.data-option {
padding: 5px 0 5px 5px
}

.data-option:hover {
    cursor: pointer;
    background: rgb(162, 162, 165);
    color:#fff;
}

.dropdown-list ul li input[type=text]:focus {
    outline: none;
}

.dropdown-up {
    border: solid #26242a;
    border-width: 0px 1.5px 1.5px 0;
    display: inline-block;
    padding: 2.5px;
    margin-top: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.dropdown-down {
    border: solid #26242a;
    border-width: 0px 1.4px 1.4px 0;
    display: inline-block;
    padding: 2.4px;
    margin-bottom: 3px;
    margin-top: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.selecteditem {
    width: 95%;
    overflow-x: hidden;
    background: #fff;
    padding: 0.3125rem 0.1625rem 0.3125rem 0.3125rem !important;
    cursor: context-menu;
    .placeholder{
        width:98%;
        color: #a9a9a9;
            font-size: 12px;
    }
    .selected_item_name{
        width:98%;
    }
}
.togglebutton {
    padding-right: 5px;
}

.singleSelect input[type=text]:disabled {
    color: #1a1a1a;
}
.selected_item {
    background-color: aqua;

}

.search_input {
    margin-top: 0;
    border-bottom: 1px solid #c4c4cf;
}
.search_input li{
    padding: 5px 0 5px 5px;
}

.disableselect {
    pointer-events: none;
    background-color: #e4e4e4;
    border-radius: 3px;
}

.disableselect .singleSelect {
    background-color: #e4e4e4;
    border: 1px solid #afafaf;
    border-radius: 3px;
}

.disableselect .singleSelect .selecteditem {
    background-color: #e4e4e4;
    
}
.disabledClass {
    color: grey;
    pointer-events: none;
    opacity: 0.5;
}
.d_none{
display:none !important;
}
.ellipse-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}