<app-custom-table [colDefs]="colDef" [rowData]="rowData" (sendSelectedRow)="getSelectedRow($event)"></app-custom-table>
<!-- <div class="d-flex">
    <div style="width: 300px;">
        <app-singleselect-dropdown [placeholderName]="'select'" [optionsList]="organisation"
            [selectedItem]="selectedItem" (selectItem)="updateSingleSelect($event)"></app-singleselect-dropdown>
    </div>

    <div style="width: 300px;">
        <app-singleselect-dropdown [placeholderName]="'select'" [optionsList]="organisation"
            [selectedItem]="selectedItem" (selectItem)="updateSingleSelect($event)"></app-singleselect-dropdown>
    </div>
    <div style="width: 300px;">
        <app-singleselect-dropdown [placeholderName]="'select'" [optionsList]="organisation"
            [selectedItem]="selectedItem" (selectItem)="updateSingleSelect($event)"></app-singleselect-dropdown>
    </div>
    <div style="width: 300px;">
        <app-singleselect-dropdown [placeholderName]="'select'" [optionsList]="organisation"
            [selectedItem]="selectedItem" (selectItem)="updateSingleSelect($event)"></app-singleselect-dropdown>
    </div>
</div> -->